/* 归因分析样式 */
.income-treegraph .strchart_btn_img {
    width: 114px;
    height: 41px;
    text-align: center;
    padding-top: 4px;
    background: url("../../../../static/images/common/struc_chart_btn.png") no-repeat;
}

.income-treegraph .strchart_btn_img p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.income-treegraph .struchart_btn1 {
    width: 100%;
    padding-left: 30%;
}

.income-treegraph .brack_img {
    width: 270px;
    height: 40px;
    margin-left: 10%;
}

.income-treegraph .bracket_topline:before {
    border-left: 2px solid #36A1E6;
    content: "";
    display: block;
    height: 20px;
    margin-left: 39%;
    margin-top: -1px;
    width: 0;
}

.income-treegraph .bracketsline:before {
    border-left: 2px solid #36A1E6;
    border-right: 2px solid #36A1E6;
    border-top: 2px solid #36A1E6;
    content: "";
    display: block;
    height: 15px;
    margin-left: 19%;
    margin-top: 0px;
    width: 38%;
}

.income-treegraph .bracket_leriline:before {
    border-left: 2px solid #36A1E6;
    border-right: 2px solid #36A1E6;
    border-top: 2px solid #36A1E6;
    content: "";
    display: block;
    height: 15px;
    margin-left: 31%;
    margin-top: 60px;
    width: 52%;
}

.bracketstr_topline:before {
    border-left: 2px solid #36A1E6;
    content: "";
    display: block;
    height: 35px;
    margin-left: 73%;
    margin-top: -35px;
    width: 10px;
}

.income-treegraph .struchart_btn2 .strchart_cont1 {
    width: 40%;
    padding-left: 10%;
    float: left;
}

.income-treegraph .struchart_btn2 .strchart_cont1:after {
    content: "";
    clear: both;
}

.income-treegraph .struchart_btn2 .strchart_cont2 {
    width: 50%;
    padding-left: 8%;
    float: left;
}

.income-treegraph .struchart_btn2 .strchart_cont2:after {
    content: "";
    clear: both;
}

.income-treegraph .struchart_btn3 {
    width: 100%;
}

.income-treegraph .struchart_btn3 .strchart_cont3 {
    width: 30%;
    padding-left: 23%;
    float: left;
}

.income-treegraph .struchart_btn3 .strchart_cont4 {
    width: 30%;
    padding-left: 18%;
    float: left;
}

.income-treegraph .struchart_btn3 .strchart_cont5 {
    width: 30%;
    padding-left: 13%;
    float: left;
}
.attri-body{
	padding: 12px!important;
}
