/*我的关注搜索框样式*/
.search.normal-search {
    padding: 0;
    border: 1px solid #ccc;
   	margin: 5px 0;
    float: none;
}
.normal-search .gsearch{
	display: none;
}
.search.normal-search input {
    background: #fff;
    color: #444;
    border: 0;
}
.search.normal-search .clear-search {
    top: 0;
    right: 0;
    bottom: 0;
}
.search.normal-search .search-list {
    left: -1px;
    right: -1px;
}
.search.normal-search input::-webkit-input-placeholder {
    text-align: left;
    color: #aaa;
}
.search.normal-search input:-moz-placeholder {
    text-align: left;
    color: #aaa;
}
.search.normal-search input::-moz-placeholder {
    text-align: left;
    color: #aaa;
}
.search.normal-search input:-ms-input-placeholder {
    text-align: left;
    color: #aaa;
}

/*我的关注新增行搜索框*/
.concern_table .pas-table_body-append-wrapper {
    border-collapse: collapse;
}
.myconcern_append {
    display: none;
}
tr.myconcern_append td {
    height: 33px;
    text-align: center;
    padding: 7px 6px;
    line-height: 17px;
    border: 1px solid #ddd;
}
#search-row {
    position:relative;
    margin: 0 auto;
    height: 22px;
}
#search-row .add_in{
    width:100%;
}
.add_li{
    padding: 6px 12px;
    line-height: 20px;
    cursor:pointer;
}
.add_li:hover{
    background:#eee;
}
.search-list .active{
    background:#eee;
}
#search-row .add_ul{
    position: absolute;
    top: 22px;
    z-index:9;
    text-align:left;
    background:#fff!important;
    display: none;
    border: 1px solid rgb(221, 221, 221);
    max-height: 500px;
    overflow: auto;
    box-shadow: rgb(221, 221, 221) 0px 3px 6px;
}
 .table-common .next-ul{
 	overflow: visible!important;
 }
 .add-search-row{
 	vertical-align: baseline;
 	padding: 3px 12px;
 }

