/* 盈亏分析样式 */
.breakdown {
    position: relative;
}
.blue-font {
    color: #0000FF;
    font-weight: bold;
}

.risk_table .table-common td {
    padding: 3px 14px;
}

.loss-top-five {
    padding: 0px;
    margin-bottom: 12px;
    background-color: #fff;
}

.loss .breakdown {
    height: 268px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.loss .panel{
	margin-bottom: 5px;
}
/*弹窗样式*/
.recentime {
    margin-left: 5px;
}
/*组合收益图表*/
.profitChart {
    margin-top: 0px !important;
}
.modal_detail .pas-table-dropdown .dropdown-area{
	height: auto;
}
