/*搜索框样式*/
.search {
    position: relative;
    float: left;
    display: inline-block;
    padding: 4px;
}
.search input {
    height: 26px;
    width: 200px;
    padding: 0 10px;
    line-height: 26px;
    border-radius: 5px;
    margin: 0;
    text-overflow: ellipsis;
    transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
}
/*修改输入框placeholder的字体颜色*/
.search.main-search input::-webkit-input-placeholder{ /*WebKit browsers*/
	color: #999999;
}
.search.main-search input::-moz-input-placeholder{ /*Mozilla Firefox*/
	color: #999999;
}
.search.main-search input::-ms-input-placeholder{ /*Internet Explorer*/ 
	color: #999999;
}

.search input.focus {
    background: #fff;
    border-radius: 0;
    color: #444;
}
.search input.focus::-webkit-input-placeholder {
    text-align: left;
    color: #aaa;
}
.search input.focus:-moz-placeholder {
    text-align: left;
    color: #aaa;
}
.search input.focus::-moz-placeholder {
    text-align: left;
    color: #aaa;
}
.search input.focus:-ms-input-placeholder {
    text-align: left;
    color: #aaa;
}
.search input::-webkit-input-placeholder {
    text-align: center;
    color: #ddd;
}
.search input:-moz-placeholder {
    text-align: center;
    color: #ddd;
}
.search input::-moz-placeholder {
    text-align: center;
    color: #ddd;
}
.search input:-ms-input-placeholder {
    text-align: center;
    color: #ddd;
}
/*界面header全局搜索图标style*/
.search .gsearch {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 10px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    line-height: 26px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*搜索结果下拉列表样式*/
.search .search-list {
    display: none;
    position: absolute;
    z-index: 99;
    left: 10px;
    top: 40px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    max-height: 500px;
    overflow: auto;
    box-shadow: 0 3px 6px #ddd;
}
.search .search-list li {
    padding: 0 12px;
    line-height: 30px;
    cursor: pointer;
}
.search .search-list li.active, .search .search-list li.title, .search .search-list li:hover {
    background-color: #eee;
}
.search .search-list li.title {
    cursor: default;
    color: #aaa;
    font-weight: bold;
}
/*主界面搜索框样式*/
.search.main-search{
	margin-left: 12px;
}
.search.main-search input {
    border: none!important;
    border-radius: 3px!important;
    background: #F5F5F5;
    color: #444;
}

.search .gsearch:hover {
  	background: #ddd;
	color: #fff;
}
.search input:focus + .gsearch {
  color: #444;
}


