/*表格组件样式（PASTable）*/
.pas-table {
    position: absolute;
    border: 1px solid #D6D9DE;
    background: #fff;
    /*overflow: hidden;*/
}

.pas-table .hidden-columns {
    display: none;
}
.pas-table_header-wrapper{
	pointer-events: auto;
}
.pas-table_common-header-area-wrapper{
	pointer-events: none;
	height: 100%!important;
}
.pas-table .pas-table_scroll-header-area-wrapper,
.pas-table .pas-table_fixed-wrapper,
.pas-table .pas-table_common-header-area-wrapper {
	overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.pas-table .pas-table_main-wrapper {
    overflow: scroll;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.pas-table table td, .pas-table table th {
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: none!important;
    border-left: none!important;
}

.pas-table table {
    border-collapse: collapse;
}

.pas-table table th .pas-table-th, .pas-table table th .pas-table-dropdown {
    display: inline;
}

/*行选中样式*/
.pas-table table tbody > tr.current-row {
    background: #ecf5ff;
}

/*行鼠标悬停样式*/
.pas-table table tbody > tr.hover-row {
    background: #f7f9f7;
}

.pas-table table td, .pas-table table th {
    border: 1px solid #EDEEF0;
    line-height: 17px;
    padding: 0 2px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.pas-table table th {
	border-color: #D6D9DE;
}

.pas-table table td .pas-table-cell {
    display: inline-block;
    /*不作为事件的target*/
    pointer-events: none;
}

/*表头下拉框*/
.pas-table-dropdown span {
    cursor: pointer;
}

.pas-table-dropdown span:hover {
    color: #5ecceb;
}

.pas-table-dropdown .dropdown-area {
    display: none;
    position: absolute;
    z-index: 30;
    background-color: #fff;
    width: 130px;
    padding: 6px 4px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    border: 1px solid #ebeef5;
    border-radius: 2px;
}

.dropdown-area .column_checkbox {
    text-align: left;
    border-radius: 2px;
    cursor: default;
}

/*表格下拉列表悬停背景色*/
.dropdown-area .column_checkbox:hover {
    background-color: #528dff;
}
.dropdown-area .column_checkbox:hover label{
	color: #fff;
}
.dropdown-area .column_checkbox label {
    width: calc(100% - 13px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
}

.dropdown-area .column_checkbox label, .dropdown-area .column_checkbox input {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

/*列宽拖拽指示线样式*/
.pas-table_resizeHandler {
    position: absolute;
    border-left: 1px solid #ddd;
    z-index: 30;
    width: 0;
    height: 100%;
    display: none;
}

/*列拖拽指示块样式*/
.pas-table_columDragger {
    position: absolute;
    border: 2px dotted #35495e;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.4);
    box-sizing: border-box;
    opacity: 0.85;
    z-index: 10;
    width: 0;
    display: none;
    text-align: center;
    font-size: 13px;
}

/*遮罩层样式*/
.white_mask {
    background-color: white;
    position: absolute;
    z-index: 20;
}

/*表格迷你折线图样式*/
.pas-table .cell-plot {
	height: 17px;
    width: 56px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 2px;
    pointer-events: none;
    text-align: center;
    line-height: 17px;
    top: 2px;
    background: #EDF3FF;
}