
/*------------------------------------------
            LEFT SIDE COLLAPSE
-------------------------------------------*/
/* 侧边栏收缩状态下样式 */
.left-side-collapsed .header-section {
    margin-left: 0px;
}

.left-side-collapsed .left-side-inner {
    padding: 0;
}

h5.left-nav-title {
    margin-left: 10px;
    color: #fff;
}
.left-side-collapsed .logo {
	background-position: 0 0;
}
.left-side-collapsed .logo .bgimg{
	margin-left: 35px;
}
.left-side-collapsed .logo .logo_text{
	display: none;
	transition: all .6s;
}
.left-side-collapsed .logo-icon {
    height: 45px;
    margin-top: -48px;
    display: block !important;
}
.left-side-collapsed .custom-nav {
    margin: 2px 0 20px 0;
}
.left-side-collapsed .scrll-wrap{
	width: 100px;	
}
.left-side-collapsed .custom-nav > li.menu-list > a {
    background-image: none;
    padding-left: 0;
}
.left-side-collapsed .custom-nav > li.menu-list > a span{
	padding: 0;
}
.left-side-collapsed .custom-nav li a span:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #65CEA7;
    border-width: 6px;
    margin-top: -6px;
}

.left-side-collapsed .custom-nav li.active a span {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.left-side-collapsed .custom-nav ul,
.left-side-collapsed .custom-nav .menu-list.nav-active ul {
    display: none;
}

.left-side-collapsed .custom-nav .menu-list.nav-hover ul {
    display: block;
}

.left-side-collapsed .custom-nav > li.nav-hover > a,
.left-side-collapsed .custom-nav > li.nav-hover.active > a {
    background: #fff;
    color: #424F63;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
    display: block;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover.active a span {
    background: #65CEA7;
    color: #fff;
}

.left-side-collapsed .custom-nav li .fa.sidenav-icon{
	margin-right: 3px;
}
.left-side-collapsed .custom-nav li.nav-hover ul {
    display: block;
    position: absolute;
    top: 40px;
    left: 53px;
    margin: 0;
    min-width: 172px;
    background: #353F4F;
    z-index: 100;
    -moz-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
}

.left-side-collapsed .custom-nav li a i {
    margin-right: 0;
}

.left-side-collapsed .left-side {
    width: 120px;
    transition: all .5s;
}
/*.left-side-collapsed .left-side-inner{
	height: calc(100% - 50px);
    width: 100px;
}*/


/*.left-side-collapsed #content .header-section1{
    left: 100px;
    width: calc(100% - 100px);
}*/
.left-side-collapsed .main-content{
    margin-left: 120px;
    width: calc(100% - 120px);
    transition: all .5s;
}
.left-side-collapsed .custom-nav ul{
    display: block;
}
.left-side-collapsed .custom-nav li a{
    text-align: left;
}
.left-side-collapsed .custom-nav li a span{
    position: static;
    background: none;
    padding: 0 0 0 5px;
    left: 0;
    top: 0;
    display: inline;
}
.left-side-collapsed .custom-nav li a span.ch_price,
.left-side-collapsed .custom-nav li a span.item_limit{
    width: 0;
    height: 0;
    transition: all 0.5s;
    overflow: hidden;
}
.left-side-collapsed .custom-nav .sub-menu-list>li span.item_name{
	width: 110px;
}
.left-side-collapsed .sub-menu-list .menu_li a .itemwrap.red-bg{
	background: none;
}
.left-side-collapsed .sub-menu-list .menu_li a .itemwrap.green-bg{
	background: none;
}
.left-side-collapsed .nav_panel .header-section1{
    left: 100px;
}
.left-side-collapsed .custom-nav{
    margin: 0 0 20px 0;
}

.left-side-collapsed  #menu_mycombination .goPortfoli{
	left: 74px;
	width: 20px;
}

/*.left-side-collapsed #content_w{
	position: absolute;
	top: 50px;
    left: -170px;
    width: calc(100% + 170px);
}*/
.left-side-collapsed #manage #tabs-167894{
	left: 126px;
}
.left-side-collapsed #collapse_btn{
	left: 106px;
	transition: all .6s;
}
/*收缩是新手指引位置*/
.left-side-collapsed .testCover1{
	left: 100px;
}
.left-side-collapsed .stepA .tip_operate{
	left: -110px;
}
.left-side-collapsed .testCover3{
	width: 120px;
}
.left-side-collapsed .stepC .tip_operate{
	left: 390px;
}
.left-side-collapsed .testCover4{
	left: 72px;
	width: 28px;
}
.left-side-collapsed .stepD .tip_operate{
	left: 350px;
}
.left-side-collapsed .testCover5{
	width: calc(100% - 124px);
    left: 120px;
}
.left-side-collapsed .stepF .tip_operate{
	top: 10px;
}
.left-side-collapsed .testCover6{
	width:calc(100% - 120px);
	left: 120px;
}

.left-side-collapsed #collapse_btn .fa{
	 transform:rotate(180deg);
	 transition: all .6s;
}
