/* sidebarnav */
.sidebarNav{
	height: 100%;
	position: relative;
 	overflow: hidden;
}
.left-side-inner{
	margin-bottom: 0;
	z-index: unset;
	height: 100%;
}
.sticky-left-side .custom-nav{
	height: 100%;
    background: #282C33;
}
.custom-nav .sub-menu-list>li>a{
	padding:0px 5px;
	display: block;
	overflow: hidden;
}
.custom-nav .sub-menu-list>li>a:hover,
.custom-nav .sub-menu-list>li>a:active,
.custom-nav .sub-menu-list>li>a:focus{
	background: none;
}
.custom-nav .sub-menu-list>li span{
	display: inline-block;
	float: left;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
}
.custom-nav .sub-menu-list>li span.item_name{
	width: 102px;
	text-align: left;
	color: #f4f5f6;
}
.custom-nav .sub-menu-list>li span.item_limit{
	float:right;
	width: 62px;
	padding-right: 8px;
	transition: all .5s;
}
.custom-nav .sub-menu-list>li span.item_price{
	width: 70px;
}
.custom-nav>li.menu-list>a{
    background: #2E333C;
    border-radius: 0;
}
.custom-nav li .fa {
  color: #fff;
}
.menu-list .li_more{
    position: absolute;
    height: 30px;
    width: 24px;
    line-height: 30px;
    top: 0;
    right: 0px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}
.custom-nav>li>a{
	padding: 0;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.custom-nav li .fa.sidenav-icon{
	vertical-align: baseline;
	font-weight: bold;
    font-size: 13px;
    padding: 0 5px;
    margin-right: 6px;
}
/** 侧边栏涨跌背景颜色样式 */
.sub-menu-list .menu_li{
	height: 26px;
}
.sub-menu-list .menu_li a .ch_price{
	display: inline-flex;
	width: 90px;
	transition: all .5s;
}
.sub-menu-list .menu_li a .itemwrap{
    position: relative;
    right: -10px;
}
.sub-menu-list .menu_li a .itemwrap.red-bg{
	background:-webkit-linear-gradient(-55deg,transparent 20%,transparent 30%,#533339 100%);
	background: -moz-linear-gradient(-55deg,transparent 20%,transparent 30%,#533339 100%);
	background: -o-linear-gradient(-55deg,transparent 20%,transparent 30%,#533339 100%);
	background: linear-gradient(55deg,transparent 20%,transparent 30%,#533339 100%)
}
.sub-menu-list .menu_li a .itemwrap.green-bg{
	background:-webkit-linear-gradient(-55deg,transparent 20%,transparent 30%,#314B3C 100%);
	background:-moz-linear-gradient(-55deg,transparent 20%,transparent 30%,#33513E 100%);
	background:-o-linear-gradient(-55deg,transparent 20%,transparent 30%,#314B3C 100%);
	background:linear-gradient(55deg,transparent 20%,transparent 30%,#314B3C 100%);
}
/** 侧边栏涨跌箭头样式 */
.custom-nav .menu_li .ch_price i.green-font {
	color: #11b932;
}
.custom-nav .menu_li .ch_price i.red-font {
	color: #f50305;
}
.custom-nav li .menu_title{
	font-size: 12px;
	font-weight: bold;
	color: #528DFF;
	cursor: pointer;
}

.custom-nav .sub-menu-list li i.change-arrow {
	font-size: 12px;
	opacity: 0.8;
	margin-left: 5px;
	margin-right: 10px;
	text-align: left;
	width: 12px;
	line-height: 20px;
}
/*我的组合问号符*/
#menu_mycombination{
	position: relative;
}
#menu_mycombination .goPortfoli{
    display: inline-block;
    width: 24px;
    height: 24px;
    background:url("../../../../static/images/common/goCreate.png") no-repeat;
    cursor: pointer;
    background-position: 5px 4px;
    position: absolute;
    top: 4px;
    right: 22px;
}
.sidebarNav .loading_mask{
    background: #f1f1f1;
    opacity: 0.7;
}
