/*tab导航头部样式*/
.panel-heading{
    padding: 0!important;
}
.panel-heading .nav > li > a, .panel-heading .nav > li.active > a, .panel-heading .nav > li.active > a:hover, .panel-heading .nav > li.active > a:focus {
    border-width: 0;
    border-radius: 0;
}
/*tab切换样式*/
.custom-tab {
    background: #fff;
    width: calc(100% - 12px);
    margin-left: 5px;
    margin-top: 6px;
    box-shadow: 0 3px 6px #ccc;
    border: 1px solid #eee;
    border-bottom: 0;
}
.custom-tab ul li a {
    line-height: 34px;
  	padding: 0 15px;
  	text-align: center;
  	cursor: pointer;
}
.custom-tab .nav > li > a:hover,.custom-tab .nav > li > a:focus{
	background: none;
}
/*tab滚动样式*/
.header-section1{
	height: 36px;
}
.header-section1 .roll-nav {
    background: #fff;
    border-color: #F5F5F5;
    line-height: 35px;
    width: 30px;
    text-align: center;
}
.header-section1 .roll-nav:hover i{
	color: #fff;
}
.header-section1 .roll-left {
    float: left;
    left: 0;
    border: 0;
    border-right: 1px solid #eee;
}

.roll-right.J_tabRight {
    border: 0;
    border-left: 1px solid #F5F5F5;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
}
#rol_wrap {
   	width: calc(100% - 60px);
    height: 35px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    left: 30px;
}
/*头部导航*/
#scroll_x {
    width: 100%;
    height: 35px;
    overflow: hidden;
    position: relative;
}

#scroll_x .nav-tabs {
    position: absolute;
    left: 0;
    border-bottom: none;
    width: 10000px;
    height: 35px;
    transition: all .6s;
}

#scroll_x .nav-tabs li {
    margin-bottom: 3px;
}
#scroll_x .nav-tabs li .active-border{
   	position: relative;
    display: inline-block;
    width: 34px;
    height: 4px;
    bottom: 3px;
    margin: 0 auto;
    border-radius: 4px;
    display: none;
}
#scroll_x .nav-tabs li.active .active-border{
	display: block;
}
/*关闭图标*/
.closable-icon {
    cursor: pointer;
}
/*新建按钮样式*/
#scroll_x .nav-tabs li .newCreate{
    padding: 3px 10px;
    line-height: normal;
    margin-top: 6px;
    background: #F5F5F5;
    border-radius: 4px;
}
/*模拟组合样式*/
.combinTab{
	background: #fff;
    height: 30px;
    overflow: hidden;
}
.group_name {
    padding: 0 6px;
    height: 26px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    line-height: 24px;
    margin-left: 15px;
    margin-top: 6px;
    letter-spacing: 1px;
}