#templateManager{
	width: 100%;
	height: 100%;
}
#templateManager .template_dialog{
    width: 920px;
    height: calc(100% - 160px)!important;
    top: 45px;
}
#templateManager .modal-content{
	width: 100%;
	height: 100%;
}
/*模板管理弹窗头部*/
.modal-content .template_header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-bottom: 1px solid #ddd;
}
.template_header .modal-title{
    line-height: 40px;
    padding-left: 14px;
    display: inline-block;
}
.template_header .close_btn{
    width: 40px;
    height: 40px;
    background: none;
    float: right;
    border: 0;
}
.template_header .close_btn span{
    font-size: 25px;
    display: inline-block;
    line-height: 40px;
}
/*模板管理中间内容*/
.template_body{
    width: 100%;
    height: calc(100% - 90px);
    border-bottom: 1px solid #ddd;
}
.template_body .body_header{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    background: #eee;
    border-bottom: 1px solid #ccc;
}
.body_header .btn_operate li{
    float: left;
}
.body_header .btn_operate li button{
	padding: 1px 4px;
    margin-right: 5px;
    border-radius: 4px;
    color: #fff;
    margin-top: 4px;
    opacity: 0.6;
}
.body_header .btn_operate li button.highlight{
	opacity: 1;
}
.body_header .btn_operate li:hover,.body_header .btn_operate li:focus{
	cursor: pointer;
}
.body_header .btn_operate li .bgimg{
	display: inline-block;
    width: 20px;
    height: 17px;
    margin: -4px 0;
    background: url("../../../../static/images/common/logos/btn_flag.png");
}
/*按钮背景图定位*/
.body_header .btn_operate li .img1{
	background-position: -8px -8px;
}
.body_header .btn_operate li .img2{
	background-position: -111px -10px;
}
.body_header .btn_operate li .img3{
	background-position: -41px -9px;
}
.body_header .btn_operate li .img4{
	background-position: -182px -9px;
}
.body_header .btn_operate li .img5{
	background-position: -146px -9px;
}
/*中间内容部分*/
.template_body .main{
	width: 100%;
	height: calc(100% - 30px);
	position: relative;
	overflow: auto;
}
.template_body .main .main_left{
	width: 300px;
	height: 100%;
	float: left;
	position: relative;
}
.template_body .main .move_handle{
	height: 100%;
    width: 4px;
    background: #ddd;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    right:0;
    /*cursor: w-resize;*/
}
/*中间表格Style*/
.template_body .main table{
	width: 100%;
}
.template_body table tr{
	height: 24px;
}
.template_body table tr td{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.template_body table th{
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f4f5f6;
    font-weight: 550;
}
.template_body .main .main_right{
	width: calc(100% - 300px);
	height: 100%;
	float: right;
}

.main_right .right_table td select{
	width: calc(100% - 160px);
	height: 100%;	
  	border: solid 1px #ccc;   
  	appearance:none;   
  	-moz-appearance:none;   
  	-webkit-appearance:none;   
  	padding-right: 14px;
  	cursor: pointer;
  	border: 0;   
}   
.main_right .right_table td:focus select,.main_right .right_table td select:focus{
	border: solid 1px #ccc;   
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/  
.main_right .right_table td select::-ms-expand { 
	display: none;
}
/*左侧模板列表表格样式*/
#mp_list_table tbody>tr.current_row {
    background: #f5f5f5;
}
{
    width: calc(100% - 30px);
    height: 100%;
}

/*模板管理底部*/
.template_footer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 20px;
}
.template_footer button{
	margin-left: 10px;
}

/*按钮弹窗*/
.modal{
	overflow: inherit;
}
.modal .modal-dialog-btn{
	width: 400px!important;
	height:200px!important;
	left: 36%;
	top: 20%;
	
}
.btnmodal .modal-dialog{
	left: 70%;
	top: 30%;
}
/*头部*/

.btnmodal_header{
    padding: 6px 10px;
}
.btnmodal_header .titles{
	display: inline-block;
	font-size: 16px!important;
}
.btnmodal_header .close_btn{
	float: right;
    width: 20px;
    margin-right: -5px;
    background: none;
    border: 0;
}
.btnmodal_header .close_btn span{
	font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}
/*中间*/
.btnmodal-body{
    border-bottom: 1px solid #ddd;
}
.btnmodal-body .main div{
    width: 240px;
    margin: 20px auto;
}
.btnmodal-body .main div input{
	text-indent:0.5em;
	color: #444;
	width: 135px;
}
.btnmodal-body .main .temp_name span:nth-of-type(1),.data_resource span{
	display: inline-block;
	width: 70px;
}

.data_resource span i{
	padding-right: 4px;
	color: red;
}
.btnmodal-body .main .temp_name span:nth-of-type(1) i{
	padding-right: 4px;
	color: red;
}
.data_resource select{
	width: 135px;
    height: 20px;
}


/*底部*/
.btnmodal-footer{
    position: absolute;
    bottom: 6px;
    right: 10px;
}
.btnmodal-footer .btn{
    height: 26px;
    line-height: 13px;
}
/*参考文件弹窗Style*/
.reference .modal-dialog-btn{
	height: 150px;
}
.reference .btnmodal-body{
	padding-left: 30px;
}
.reference .btnmodal-body > div{
	margin-left: 30px;
}
.reference .btnmodal-body .inputname i{
    color: red;
}
.reference .btnmodal-body .upload{
    position: relative;
    display: inline-block;
    height: 40px;
    top: 8px;
}
.reference .btnmodal-body .upload input{
	border-radius: 2px;
}
#loadMpColFile::-ms-browse, [type='file'] {
    border: 1px solid #DDDDDD;
    border-right-color: #b5b3b3;
    background: #F4F5F6;
    color: #444;
    height: 24px;
}
#loadMpColFile::-webkit-file-upload-button {
    border: 1px solid #DDDDDD;
    border-right-color: #b5b3b3;
    background: #f4f5f6;
    color: #444;
    height: 24px;
}

.reference .btnmodal-body .upload .import_e{
    margin-bottom: 0;
    margin: 5px 0;
    height: 28px;
    line-height: 28px;
    padding: 4px 6px;
    border: 1px solid #ccc;
    width: 178px;
    text-overflow: ellipsis;
    float: left;
}
.reference .btnmodal-body .upload label{
	display: inline-block;
	float: left;
    border: 1px solid #ccc;
    padding: 4px 14px;
    border-radius: 3px;
    margin: 5px 0 0 4px;
}
.reference .btnmodal-body .upload .file_name{
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    left: 1px;
    top: 5px;
    width: 238px;
    cursor: pointer;
    height: 28px;
}
/*删除弹窗*/
.delete .modal-dialog-btn{
	height: 150px;
}
.delete .btnmodal-body,.save .btnmodal-body,.selected .btnmodal-body,.validate_form .btnmodal-body{
	height: 68px;
    text-align: center;
    line-height: 68px;
    font-size: 16px;
}
/*是否选中，保存提示弹窗*/
.selected .modal-dialog-btn,.save .modal-dialog-btn{
	width: 240px;
}
.validate_form .modal-dialog{
	width: 240px;
	height: 150px;
}
/*表单未填写完整提示文本样式*/
.form_check_fail {
    height: 20px;
    color: red;
    position: relative;
    bottom: -6px;
}

