<div id="aggConfig_wrap">
	<span class="quota_select">指标选择:</span>
    <div class="input_wrap" >
		<input type="text" v-model="selectedValue" disabled/>
		<div class="operate_wrap">
			<span class="fa fa-close" @click="clearAllChecked"></span>
			<span class="fa fa-chevron-down" data-toggle="modal" :data-target="'#' + modalId"></span>
		</div>
	</div>
    <div :id="modalId" class="modal pas-modal value_def_config_modal aggConfig" tabindex="-1" role="dialog"
         aria-labelledby="newcomdel_title"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">自定义指标配置</h4>
                </div>
                <div class="modal-body">
                    <ul class="body_header">
                        <li class="addClass"><button :id="newCategoryBtnId" disabled="true" @click.prevent.stop="openNewCategoryModal"><span></span>新增分类</button></li>
                        <li class="addAgg"><button :id="newValueBtnId" disabled="true" @click.prevent.stop="openNewValueDefModal"><span></span>新增指标</button></li>
                        <li class="modifiAgg"><button :id="updateValueBtnId" disabled="true" @click.prevent.stop="openUpdateValueDefModal"><span></span>修改指标</button></li>
                        <li class="deleteAgg"><button :id="delBtnId" disabled="true" @click.prevent.stop="tryDelete"><span></span>删除</button></li>
                    </ul>
                    <div class="search_wrap">
                        <span>指标名称：</span>
                        <p class="searchwrap">
                            <input type="text" class="search-ipt" v-model="keyword" v-on:input="searchValueWrappedWithThrottle"/>
                            <span class="fa fa-search icon-s"></span>
                        </p>
                    </div>
                    <!--树形表格-->
                    <div class="treeTable">
                    	<div class="head">
                    		<div class="divTd" style="width:20%">指标名称</div>
                    		<div class="divTd" style="width:24%">基础指标</div>
                    		<div class="divTd" style="width:56%">指标参数</div>
                    	</div>
                        <div :id="'tableMain_'+ztreeId" class="tableMain" v-loading="loading">
                            <ul :id="ztreeId" class="ztree">

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="confirmSelection">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!--新增指标-->
    <div :id="newValDefModalId" class="modal pas-modal value_def_modal" tabindex="-1" role="dialog"
         aria-labelledby="newcomdel_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">新增指标</h4>
                </div>
                <div class="modal-body">
                    <div class="body-header">
                        <div class="aggname">
                            <span>指标名称：</span><input type="text" v-model.trim="valueDefForm.name" v-validate="'required'" data-vv-name="valueName"
                                                     name="valueName" :class="{'input': true, 'is-danger': errors.has('valueName') }"/>
                            <span class="notice" v-show="errors.has('valueName')">
                            	<i class="fa fa-warning"></i>
                            	<span class="help is-danger">请填写指标名称</span>
                            </span>
                        </div>
                        <div class="aggbasic">
                            <span>基础指标：</span>
                            <select v-model="valueDefForm.essentialValue" v-validate="'required'" data-vv-name="essentialValue" @change="selectValue('create')"
                                    name="essentialValue" :class="{'input': true, 'is-danger': errors.has('essentialValue') }">
                                <option v-for="valueConfig in essentialValueConfigs"
                                        :value="{name: valueConfig.baseValueName, describe: valueConfig.showName}">{{valueConfig.showName}}</option>
                            </select>
                            <span class="notice" v-show="errors.has('essentialValue')">
                            	<i  class="fa fa-warning"></i>
                            	<span class="help is-danger">请选择一个基础指标</span>
                            </span>
                        </div>
                    </div>
                    <div class="body-main">
                        <p class="title"><span><i class="fa fa-tag"></i>指标参数：</span></p>
                        <div class="parameter">
                            <div v-for="valueParamInfo in valueParams" :title="valueParamInfo.describe" class="parame_item">
                                <span class="parame_name" :title="valueParamInfo.describe">{{valueParamInfo.describe + ':'}}</span>
                                <select v-model="valueDefForm.parameters[valueParamInfo.name]" v-if="valueParamInfo.type == '2'">
                                    <option v-for="range in valueParamInfo.paramRange" :value="range">{{range}}</option>
                                </select>
                                <input type="text" v-model.trim="valueDefForm.parameters[valueParamInfo.name]"
                                       v-validate="valueParamInfo.rules" :data-vv-name="'validate_' + valueParamInfo.name" v-else />
                                <span class="notice" v-show="errors.has('validate_' + valueParamInfo.name)">
                                	<i  class="fa fa-warning"></i>
                                	<span class="help is-danger">{{valueParamInfo.msg}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="saveNewValueDef">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--修改指标-->
    <div :id="modifyValDefModalId" class="modal pas-modal value_def_modal" tabindex="-1" role="dialog"
         aria-labelledby="newcomdel_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">指标修改</h4>
                </div>
                <div class="modal-body">
                    <div class="body-header">
                        <div class="aggname">
                            <span>指标名称：</span><input type="text" v-model.trim="updateValDefForm.name" v-validate="'required'" data-vv-name="newValueName"
                                                     name="newValueName" :class="{'input': true, 'is-danger': errors.has('newValueName') }"/>
                            <span class="notice" v-show="errors.has('newValueName')">
                            	<i class="fa fa-warning"></i>
                            	<span class="help is-danger">请填写指标名称</span>
                            </span>
                        </div>
                        <div class="aggbasic">
                            <span>基础指标：</span>
                            <select v-model="updateValDefForm.essentialValue" v-validate="'required'" data-vv-name="newEssentialValue"
                                    name="newEssentialValue" :class="{'input': true, 'is-danger': errors.has('newEssentialValue') }" @change="selectValue('update')">
                                <option v-for="(valueConfig, index) in essentialValueConfigs" :key="index"
                                        :value="{name: valueConfig.baseValueName, describe: valueConfig.showName}">{{valueConfig.showName}}</option>
                            </select>
                             <span class="notice" v-show="errors.has('newEssentialValue')">
                             	<i class="fa fa-warning"></i>
                            	<span class="help is-danger">请选择一个基础指标</span>
                             </span>
                        </div>
                    </div>
                    <div class="body-main">
                        <p class="title"><span><i class="fa fa-tag"></i>指标参数：</span></p>
                        <div class="parameter">
                            <div v-for="(valueParamInfo, index) in valueParams" :key="index" :title="valueParamInfo.describe" class="parame_item">
                                <span class="parame_name" :title="valueParamInfo.describe">{{valueParamInfo.describe + ':'}}</span>
                                <select v-model="updateValDefForm.parameters[valueParamInfo.name]" v-if="valueParamInfo.type == '2'">
                                    <option v-for="range in valueParamInfo.paramRange" :value="range">{{range}}</option>
                                </select>
                                <input type="text" v-model.trim="updateValDefForm.parameters[valueParamInfo.name]"
                                       v-validate="valueParamInfo.rules" :data-vv-name="'validate_' + valueParamInfo.name" v-else />
                                <span class="notice" v-show="errors.has('validate_' + valueParamInfo.name)">
                                	<i  class="fa fa-warning"></i>
                                	<span class="help is-danger">{{valueParamInfo.msg}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="saveUpdateValueDef">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--新增分类-->
    <div :id="newClzModalId" class="modal crete_category_modal" tabindex="-1" role="dialog" aria-labelledby="newcomdel_title"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @click="closeModal('.crete_category_modal')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">新增分类</h4>
                </div>
                <div class="modal-body">
                    <div class="wrap">
                        <div class="parent_devide">
                            <span>父分类:</span>
                            <input type="text" v-if="treeNodeSelected" v-model="treeNodeSelected.name" disabled/>
                        </div>
                        <div class="devide_name">
                            <span>分类名称:</span>
                            <input type="text" v-model.trim="newCategoryName" v-validate="'required'" name="newCategoryName" :class="{'input': true, 'is-danger': errors.has('newCategoryName') }"/>
                            <span class="notice" v-show="errors.has('newCategoryName')">
                            	<i class="fa fa-warning"></i>
                            	<span class="help is-danger">分类名称不可为空</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="closeModal('.crete_category_modal')">关闭</button>
                    <button type="button" class="btn btn-primary" @click="saveNewCategory">保存</button>
                </div>
            </div>
        </div>
    </div>
	<!--删除提示框-->
    <div :id="noticeModalId" class="modal save_notice_modal" tabindex="-1" role="dialog" aria-labelledby="newcomdel_title"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @click="closeModal('.save_notice_modal')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">提示信息</h4>
                </div>
                <div class="modal-body">
                    <p class="notice_info">{{delAlert}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="closeModal('.save_notice_modal')">取消</button>
                    <button type="button" class="btn btn-primary" @click="confirmDelete">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
