<div id="manage">
	<div class="tabbable" id="tabs-167894">
		<ul class="nav nav-tabs tabtree">
			<li class="active gap"><a href="#panel-637655" data-toggle="tab">维度管理</a></li>
			<li class=""><a href="#panel-948801" data-toggle="tab">自定义维度指标管理</a></li>
		</ul>
	</div>
	<div class="tab-content">
		<div class="tab-pane active" id="panel-637655">
			<div class="content">
				<div class="panel panel-default">
					<header class="panel-heading">
						<div class="panel-title">
							<i class="fa fa-search-minus" style="color:#65778b ;font-size: 16px;padding-right: 2px;"></i>
							维度查询
							<div  class="panel-tag">
  								<span class="tools pull-right" @click="slideUp($event, 'search_panel')">
                                   	<a href="javascript:;" class="fa fa-chevron-down" v-show="!searchIsShow"></a>
                                   	<a href="javascript:;" class="fa fa-chevron-up" v-show="searchIsShow"></a>
                                </span>
							</div>
						</div>
					</header>
					<div class="search_panel" style="padding: 0;">
						<div class="add_remove">
							<div class="search_wrap selfSearch">
								<span >维度名称：</span>
								<form class="form-search">
									<input class="input_name" id="searchAggDefName" type="text" placeholder="请输入搜索的维度名称" v-model="searchAggDefName"/>
									<button type="button" class="sBtn btn btn-primary break-but add-search-row" @click="searchAggregationDefinition(searchAggDefName)">查询 </button>
								</form>
							</div>
							<div class="tag_ar">
								<span class="add" @click="newAggDefConfig()"><img src="../../../static/images/add.gif"/>新增</span>
								<span class="remove" @click="delAggregationDefinition()"><img src="../../../static/images/delete.gif"/>删除</span>
							</div>
							<div class="fix-table-panel sTable">
								<table class="table-common" style="width: 100%;">
									<tr style="width: 100%;">
										<th class="th1" style="width: 10%;"><label for="selectAll"><input type="checkbox"  v-model='checkAll' name="" id="selectAll" value="" />全选</label></th>
										<th class="th2" style="width: 20%;">维度名称</th>
										<th class="th3" style="width:70%;">维度说明</th>
									</tr>
									<tr v-for="(item,index) in aggregationDefinitions" :key="index">
										<td ><input type="checkbox" name=""  value="" v-model='item.isCheck' @change="singleSelect()"/></td>
										<td class="right" style="cursor: pointer" :uniqueId="item.uniqueId" @click="showAggConfigs(item)">
											<span class="aggName">{{item.name}}</span>
										</td>
										<td class="right">{{item.value.desc}}</td>
									</tr>
								</table>
							</div>
							<!--分页器-->
							<div class="page">
								<ul class="pagination" >
									<li v-show="aggDefCurrent != 1" @click="searchAggregationDefinition(aggDefCurrent - 1)" ><a href="#">上一页</a></li>
									<li v-for="index in aggDefAllPage" @click="searchAggregationDefinition(index)" :class="{'active':aggDefCurrent == index}" :key="index">
										<a href="#" >{{index}}</a>
									</li>
									<li v-show="aggDefAllPage != aggDefCurrent && aggDefAllPage != 0 " @click="searchAggregationDefinition(aggDefCurrent + 1)"><a href="#" >下一页</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="weidu_config">
					<div class="panel panel-default">
						<header class="panel-heading">
							<div  class="panel-title">
								<i class="fa fa-gear" style="color:#65778b ;font-size: 16px;"></i>
								维度配置
								<!--<span class="addrow"  @click="newAggDefConfig()"><i class="fa fa-plus" ></i>新增</span>-->
								<span class="tools pull-right" @click="slideUp($event, 'config_panel')">
	                                   	<a href="javascript:;" class="fa fa-chevron-down" v-show="!configIsShow"></a>
	                                   	<a href="javascript:;" class="fa fa-chevron-up" v-show="configIsShow"></a>
	                                </span>
							</div>
						</header>
						<div class="config_panel">
							<div class="box_config">
								<div class="leftside">
									<p class="title">
										维度树管理
									</p>

									<!--树型菜单-->
									<div class="zTreeDemoBackground left treeleft">
										<ul id="treeDemo" class="ztree"></ul>
									</div>

								</div>
								<div class="rightcon_wrap">
									<div class="tag_ar  tag_head">
										<div class="weidu_name">
											<span>维度名称：</span>
											<input id="aggregationDefinitionName" placeholder="请输入维度名称" type="text" v-model="aggregationDefinitionName"/>
										</div>
									</div>
									<div class="rightcontent">
										<div class="nav_detail">
											<p class="title"><i class="fa fa-tag" style="color:#65778b ;font-size: 14px;padding-right: 10px;"></i>指标选择</p>
										</div>
										<div class="search_wrap">
											<span>指标名称</span>
											<select class="selector" @change="change($event)">
												<option >请选择指标</option>
												<option v-for="item in aggregateValueConfigs" >{{item.name}}</option>
												<option v-for="item in valueRepoConfigs">{{item.valueDescribe}}</option>
											</select>
										</div>
										<form>
											<fieldset class="parameter">
												<legend>指标参数</legend>
												<div class="box">
													<div class="paramewrap">
														<span>开始计算日期：</span>
														<input type="text" val-required="" value="" date-laydate="" id="estab_date" class="initial_date laydate-icon" @click="dateBlock('#estab_date')">	
													</div>
													<div class="paramewrap">
														<span>开始计期：</span>
														<select name="">
															<option value=""></option>
														</select>
													</div>
													<div class="paramewrap">
														<span>开始：</span>
														<input type="text" >	
													</div>
												</div>
											</fieldset>
										</form>
										<div class="detail_info">
											<div class="nav_detail">
												<p class="title"><i class="fa fa-tag" style="color:#65778b ;font-size: 14px;padding: 0 10px;"></i>详细说明</p>
											</div>
											<textarea class="edit" id="aggDescription" v-model="aggDescription"></textarea>
										</div>
										<button  type="button" class="btn btn-primary break-but save" @click="saveAggDefConfigs()">保存 </button>
										<!--<button  type="button" class="btn btn-primary break-but add" @click="newAggDefConfig()">新增 </button>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!---------------------------------自定义维度指标----------------------------------->
		<div class="tab-pane" id="panel-948801">
			<div class="content">
				<div class="panel panel-default">
					<header class="panel-heading">
						<div  class="panel-title">
							<i class="fa fa-search-minus" style="color:#65778b ;font-size: 16px;padding-right: 2px;"></i>
							自定义维度查询
							<div  class="panel-tag">
  								<span class="tools pull-right" @click="aggVSlideUp('aggvsearch_panel')">
                                   	<a href="javascript:;" class="fa fa-chevron-down" v-show="!aggVSearchIsShow"></a>
                                   	<a href="javascript:;" class="fa fa-chevron-up" v-show="aggVSearchIsShow"></a>
                                </span>
							</div>
						</div>
					</header>
					<div class="aggvsearch_panel" style="padding: 0;">
						<div class="add_remove">
							<div class="search_wrap selfSearch">
								<span >维度指标名称：</span>
								<form class="form-search">
									<input class="input_name" id="searchAggregateValueName" type="text" placeholder="请输入维度指标名称" v-model="searchAggregateValueName"/>
									<button type="button" class="sBtn btn btn-primary break-but add-search-row" @click="searchAggregateValue()">查询</button>
								</form>
							</div>
							<div class="tag_ar">
								<span class="add" @click="addAggDt()"><img src="../../../static/images/add.gif"/>新增</span>
								<span class="remove" @click="delAggregateValue()"><img src="../../../static/images/delete.gif"/>删除</span>
							</div>
							<div class="fix-table-panel sTable">
								<table class="table-common">
									<tr>
										<th class="th1"><label for="aggselectAll"><input type="checkbox" v-model='aggVCheckAll' name="" id="aggselectAll" value="" />全选</label></th>
										<th class="th2">维度指标名称</th>
										<th class="th3">说明</th>
									</tr>
									<tr v-for="(item, index) in aggregateValues" :key="index">
										<td ><input type="checkbox" name=""  value="" v-model='item.isCheck' @change="aggVSingleSelect()" /></td>
										<td class="right" style="cursor: pointer" @click="aggVItemClick(item)">{{item.value.aggregateValueName}}</td>
										<td class="right">{{item.value.desc}}</td>
									</tr>
								</table>
							</div>
							<!--分页器-->
							<div class="page">
								<ul class="pagination" >
									<li v-show="aggregateValueCurrent != 1" @click="searchAggregateValue(aggregateValueCurrent-1)" ><a href="#">上一页</a></li>
									<li v-for="index in aggregateValueAllpage" @click="searchAggregateValue(index)" :class="{'active':aggregateValueCurrent == index}" :key="index">
										<a href="#" >{{index}}</a>
									</li>
									<li v-show="aggregateValueAllpage != aggregateValueCurrent && aggregateValueAllpage != 0 " @click="searchAggregateValue(aggregateValueCurrent+1)"><a href="#" >下一页</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body weidu_config" style="padding: 0;">
					<div class="panel panel-default">
						<header class="panel-heading">
							<div  class="panel-title">
								<i class="fa fa-gear" style="color:#65778b ;font-size: 16px;padding-right: 2px;"></i>
								自定义维度配置
								<span class="tools pull-right" @click="aggVSlideUp('aggvconfig_panel')">
	                                   	<a href="javascript:;" class="fa fa-chevron-down" v-show="!aggVConfigIsShow"></a>
	                                   	<a href="javascript:;" class="fa fa-chevron-up" v-show="aggVConfigIsShow"></a>
	                                </span>
							</div>
						</header>
						<div class="aggvconfig_panel selfconfig">
							<div class="search_box">
								<div class="add_remove">
									<div class="weidu_name">
										<span>自定义指标名称：</span>
										<input id="aggregateValueName" type="text" placeholder="请输入维度指标名称" v-model="aggregateValueName" />
									</div>
									<div class="tag_ar">
										<span class="add" @click="addAggVDt()"><img src="../../../static/images/add.gif"/>新增</span>
										<span class="remove" @click="delAggregateValueDt()"><img src="../../../static/images/delete.gif"/>删除</span>
										<!--<span class="remove" @click="clearAllAggDt()"><img src="../../../static/images/delete.gif"/>清空</span>-->
									</div>
								</div>
								<ul class="fix-table-panel sTable">
									<table class="table-common" id="aggVDtTable" style="width: 100%;">
										<thead>
											<tr style="width: 100%;">
												<th class="th1" style="width: 15%;"><label for="aggVDtselectAll"><input type="checkbox" v-model='aggVCheckAllDt' @click='checkedAggVAllDt()' name="" id="aggVDtselectAll" value="" />全选</label></th>
												<th class="th2" style="width: 30%;">输出</th>
												<th class="th3" style="width: 40%">需求</th>
												<th class="th4" style="width: 15%;">移动</th>
											</tr>
										</thead>
										<tbody>
										<tr v-for="(items, index) in aggregateValue" :key="aggregateValueDt.uniqueId + index">
											<td ><input type="checkbox" name=""  value="" v-model='items.isCheck' @change="aggVSingleSelectDt()"/></td>
											<td class="right" contenteditable="true">{{items.ruleName}}</td>
											<td class="right" data-toggle="modal" data-target=".modalShow"
												@click="aggDtItem = items" style="cursor: pointer; border-right: 0;">{{items.ruleSpecText}}</td>
											<td style="display:none;">{{items.ruleSpec}}</td>
											<td class="dragTd" style="cursor: move;" @mousemove="dragTr($event,items)"><i class="fa fa-arrows"></i></td>
										</tr>
										</tbody>
									</table>
								</ul>
							</div>
							<div class="design_info">
								<div class="nav_detail">
									<p class="title"><i class="fa fa-tag" style="color:#65778b ;font-size: 14px;padding: 0 10px;"></i>详细说明</p>
								</div>
								<textarea class="edit" v-model="aggVDesc">
									</textarea>
								<button  type="button" class="btn btn-primary break-but selfsave" @click="aggVSave()">保存</button>
								<!--<button  type="button" class="btn btn-primary break-but selfadd" @click="aggVAddConfig()">新增</button>-->
							</div>
						</div>
					</div>
					<!--弹窗组件-->
					<aggSelectDetail v-bind="aggDtItem" @receiveMsg="receiveMsgF"></aggSelectDetail>
				</div>
			</div>
		</div>
	</div>
</div>