<div id="selectDetail" class="modal pas-modal modalShow" tabindex="-1" role="dialog" aria-labelledby="newcomdel_title">
    <div class="modal-dialog" role="document" v-modal-drag>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">筛选条件</h4>
            </div>
            <div class="modal-body">
            	<div class="detailMain">
					<div class="agg_list">
						<div class="agg_title">
							<p><span class="fa fa-list-alt"></span>维度列表</p>
						</div>
						<div class="search_box" style="display: none">
							<input type="text" />
							<div class="operate">
								<li><span class="fa fa-mail-reply-all"></span>取消</li>
								<li><span class="fa fa-filter"></span>搜索</li>
							</div>
						</div>
						<!--树型菜单-->
			  			<div id="treebox">
							<div class="zTreeDemoBackground left">
					            <ul id="selectTree" class="ztree"></ul>
					        </div>
			  			</div>
					</div>
					<div class="selected_list">
						<div class="select_title">
							<p><span class="fa fa-list-alt"></span>已选列表</p>
						</div>
						<div class="operate">
							<div class="add_remove">
								<span class="remove" @click="addFilters()"><img src="../../../static/images/add.gif"/>增加</span>
								<span class="remove" @click="clear"><img src="../../../static/images/delete.gif"/>删除</span>
								<span class="remove" @click="clearAll"><img src="../../../static/images/delete.gif"/>清空条件列表</span>
							</div>
						</div>
						<div class="table_wrap">
							<table class="select_table">
								<tr>
									<th v-for="(item, index) in typeNames" :key="index">{{item}}</th>
								</tr>
								<tr v-for="(value, index) in values" :key="index" class="bgcolor"  :tabindex="index">
									<div v-for="(item, itemId) in typeNames" :key="itemId" @click="selectIndex = index">
										<td v-if="value[item] == null"></td>
										<td v-else>{{value[item].toString()}}</td>
									</div>
								</tr>
							</table>
						</div>
						<div class="description">
							<p class="infotitle">描述</p>
							<textarea class="edit" name="" rows="" cols="" v-model="valueCalcTextC" readonly="readonly"></textarea>
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="sendMsg()">确定</button>
            </div>
        </div>
    </div>
</div>
