<div id="homePage" class="modal modal__login">
    <!--登录主体-->
    <div class="login-main login-bg" v-show="isLogin">
        <div id="login-panel">
            <div id="login-title" style="font-size:20px;text-align:center;"></div>
            <form id="login-form" method="post" name="loginForm">
                <input type="hidden" id="service" name="service"/>
                <input type="hidden" id="loginUrl" name="loginUrl"/>
                <input type="hidden" id="lt" name="lt"/>
                <div class="login-form-title"></div>
                <div class="login-form-ipt">
                    <i class="fa fa-user"></i>
                    <input type="text" id="uname" autocomplete="off" placeholder="用户名" v-model="loginUserName"
                           @keydown="handleKeydown($event)">
                </div>
                <div class="login-form-title"></div>
                <div class="login-form-ipt">
                    <i class="fa fa-lock"></i>
                    <input type="password" id="pwd" autocomplete="off" placeholder="密码" v-model="loginPassword"
                           @keydown="handleKeydown($event)">
                </div>
                <div id="login-info"></div>
                <div class="login-checked">
                    <a href="##" class="rember-pwd"><input type="checkbox" id="rember"/><label for="rember">记住密码</label></a>
                    <a href="##" class="auto-login"><input type="checkbox" id="autoLogin"/><label
                            for="autoLogin">自动登录</label></a>
                </div>
                <div id="login-code">
                    <div class="login-form-title"></div>
                    <div class="login-form-ipt">
                        <i class="fa fa-check"></i>
                        <input type="text" autocomplete="off">
                    </div>
                </div>
                <div id="login-btn" style="background: #4691C8;" @click="login">登录</div>
                <div class="no-count">
                    <div class="hr">
                        <i></i>
                        <span class="title">没有账号？你可以</span>
                        <i></i>
                    </div>
                    <ul class="other-login">
                        <li @click="isLogin = !isLogin">
                            <div class="fa fa-edit"></div>
                            <p class="name">注册</p></li>
                        <li>
                            <div class="fa fa-qq"></div>
                            <p class="name">QQ</p></li>
                        <li>
                            <div class="fa fa-weixin"></div>
                            <p class="name">微信</p></li>
                        <li>
                            <div class="fa fa-weibo"></div>
                            <p class="name">微博</p></li>
                        <li>
                            <div class="fa fa-user"></div>
                            <p class="name">游客</p></li>
                    </ul>
                </div>
            </form>
            <span class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></span>
        </div>
    </div>
    <div id="register-panel" v-show='!isLogin'>
        <div class="reg_content">
            <div class="reg_title"></div>
            <form id="reg-form" method="post" name="regForm">
                <div class="count">
                    <span><i>*</i>账号：</span>
                    <input v-model="newUsername" type="text">
                </div>
                <div class="count">
                    <span><i>*</i>密码：</span>
                    <input type="password" v-model="newPassword"/>
                </div>
                <div class="count">
                    <span><i>*</i>确认密码：</span>
                    <input type="password" v-model="rePassword"/>
                </div>
                <p class="count_info" v-show="showMsg">{{msg}}</p>
                <div class="reg_term">注册即代表同意<a href="/about/terms" title="投资组合分析协议" target="_blank">&nbsp; 投资组合协议</a>
                </div>
                <div class="reg_btn next" @click="register($event)">注册</div>
                <div class="reg_info">已有账户了？<a href="##" @click="isLogin=true">点击登录</a></div>
            </form>
            <span class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>