<div class="realTime combin" style="width: 100%;height: 100%;">
  <!--组合分析-->
  <div class="combin_wrap" style="position:absolute;width:calc(100% - 15px);height:calc(50% - 70px);margin-bottom:12px;" v-loading="loading1">
    <select v-model="selectedPort" @change="changeOption">
      <option v-for="option in optionInfo" :value="option.id">{{option.name}}</option>
    </select>
    <div class="fix-table" row="3" col="1" colW="150"  style="position:absolute;width:100%;height:100%;">
      <div class="fix-table-panel" >
        <table class="table-common" tabid="basicInfo">
          <thead>
          <tr>
            <th colspan="16" class="left" style="padding-left:49px;">组合分析</th>
          </tr>
          <tr>
            <th rowspan="2">组合名称</th>
            <th colspan="3">当日</th>
            <th colspan="4">当月</th>
            <th colspan="4">今年以来</th>
            <th colspan="4">基本信息</th>
          </tr>
          <tr>
            <th>绝对收益（%）</th>
            <th>基准收益（%）</th>
            <th>超额收益（%）</th>
            <th>绝对收益（%）</th>
            <th>基准收益（%）</th>
            <th>超额收益（%）</th>
            <th>排名</th>
            <th>绝对收益（%）</th>
            <th>基准收益（%）</th>
            <th>超额收益（%）</th>
            <th>排名</th>
            <th>证券数量</th>
            <th>市值（万）</th>
            <th>单位净值</th>
            <th>份额（万）</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, index) in basicInfo" :key="index" v-if="item.name != '' && item != undefined && item != null" >
            <td class="center">{{item.name}}</td>
            <td :class="{'blue-font':item['Total Return P1D'].value.indexOf('--')>-1,'green-font':item['Total Return P1D'].value.indexOf('-')>-1,'red-font':item['Total Return P1D'].value.indexOf('+')>-1}"
                class="border_l right" :cell="item['Total Return P1D'] | objToJSONString">
              {{item['Total Return P1D'].value}}
            </td>
            <td :class="{'blue-font':item['Total Return BP1D'].value.indexOf('--')>-1,'green-font':item['Total Return BP1D'].value.indexOf('-')>-1,'red-font':item['Total Return BP1D'].value.indexOf('+')>-1}"
                class="right" :cell="item['Total Return BP1D'] | objToJSONString">
              {{ item['Total Return BP1D'].value}}
            </td>
            <td :class="{'blue-font':item.dayOverReturn.indexOf('--')>-1,'green-font':item.dayOverReturn.indexOf('-')>-1,'red-font':item.dayOverReturn.indexOf('+')>-1}"
                class="right" >
              {{item.dayOverReturn}}
            </td>
            <td :class="{'blue-font':item['Total Return P1M'].value.indexOf('--')>-1,'green-font':item['Total Return P1M'].value.indexOf('-')>-1,'red-font':item['Total Return P1M'].value.indexOf('+')>-1}"
                class="right" :cell="item['Total Return P1M'] | objToJSONString">
              {{item['Total Return P1M'].value}}
            </td>
            <td :class="{'blue-font':item['Total Return BP1M'].value.indexOf('--')>-1,'green-font':item['Total Return BP1M'].value.indexOf('-')>-1,'red-font':item['Total Return BP1M'].value.indexOf('+')>-1}"
                class="right" :cell="item['Total Return BP1M'] | objToJSONString">
              {{item['Total Return BP1M'].value}}
            </td>
            <td :class="{'blue-font':item.monthOverReturn.indexOf('--')>-1,'green-font':item.monthOverReturn.indexOf('-')>-1,'red-font':item.monthOverReturn.indexOf('+')>-1}"
                class="right">
              {{item.monthOverReturn}}
            </td>
            <td class="blue-font right" :cell="item['Rank P1M'] | objToJSONString">前{{item['Rank P1M'].value}}</td>
            <td :class="{'blue-font':item['Total Return BP1Y'].value.indexOf('--')>-1,'green-font':item['Total Return BP1Y'].value.indexOf('-')>-1,'red-font':item['Total Return BP1Y'].value.indexOf('+')>-1}"
                class="right" :cell="item['Total Return P1Y'] | objToJSONString">
              {{item['Total Return P1Y'].value}}
            </td>
            <td :class="{'blue-font':item['Total Return BP1Y'].value.indexOf('--')>-1,'green-font':item['Total Return BP1Y'].value.indexOf('-')>-1,'red-font':item['Total Return BP1Y'].value.indexOf('+')>-1}"
                class="right" :cell="item['Total Return BP1Y'] | objToJSONString">
              {{item['Total Return BP1Y'].value}}
            </td>
            <td :class="{'blue-font':item.yearOverReturn.indexOf('--')>-1,'green-font':item.yearOverReturn.indexOf('-')>-1,'red-font':item.yearOverReturn.indexOf('+')>-1}"
                class="right">
              {{item.yearOverReturn}}
            </td>
            <td class="blue-font right" :cell="item['Rank P1Y'] | objToJSONString">前{{item['Rank P1Y'].value}}</td>
            <td class="right" :cell="item['Portfolio Security Volume'] | objToJSONString">{{item['Portfolio Security Volume'].value}}</td>
            <td class="right" :cell="item['Market Value'] | objToJSONString">{{item['Market Value'].value}}</td>
            <td class="right" :cell="item['UNAV'] | objToJSONString">{{item['UNAV'].value}}</td>
            <td class="right" :cell="item['HTS Latest'] | objToJSONString">{{item['HTS Latest'].value}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--收益率-年化波动率散点图（YTD）-->
  <div class="panel panel-default" style="position:absolute;width:calc(100% - 10px);height:calc(50% - 20px);bottom:0;margin-bottom: 0;" v-loading="loading2">
    <div class="panel-heading" style="position: relative;">
      <div class="panel-title">收益率-年化波动率散点图</div>
      <select v-model="selectedTime" @change="changeOption" class="echartTime">
        <option v-for="option in timeOption" :value="option.value">{{option.name}}</option>
      </select>
    </div>
    <div class="panel-body" style="padding: 0!important;width: 100%; height: calc(100% - 26px); height: -moz-calc(100% - 26px); height: -webkit-calc(100% - 26px);">
      <div id="myCombination_chart" v-echarts config="echartConfig" style="position:absolute;width: 100%; height:100%"></div>
    </div>
  </div>
</div>