<div class="newCreate" v-loading="saving" data-loading-text="正在保存视图...">
    <div class="ui-layout-north">
        <div class="top_header">
            <span class="step-number">1</span>
            <div class="step-desc">
                <span class="step-title">布局</span>
                <span>（点击一下区域进行布局设计,提示：按住shift键+鼠标左键可将页面拆分单元中的模块进行拖拽）</span>
                <div class="btn-rightgroup">
                    <button @click="setLayout('level')" class="btn-normal"><i class="viewport-img splithorizon_img"></i>水平切分
                    </button>&nbsp;
                    <button @click="setLayout('vertical')" class="btn-normal"><i class=" viewport-img Vertical_img"></i>垂直切分
                    </button>
                </div>
            </div>
        </div>
        <!--布局区域 start-->
        <layoutContainer :areaId="customViewportDataSet.code" ref="container"></layoutContainer>
        <!--布局区域 end-->
    </div>
    <form @submit.prevent="applyCustomViewport">
        <div class="ui-layout-center">
            <div id="step2"></div>
            <div class="center_head">
                <span class="step-number">2</span>
                <div class="step-desc">
                    <span class="step-title">元素</span>
                    <span>（选择所需的元素，并设定其区域组件设置）</span>
                </div>
            </div>
            <div class="middle_tab">
                <ul class="tabs iconimgspace">
                    <li v-for="(item,index) in tabsParam" :key="index" @click="toggleTabs(index)"
                        :class="[index===nowIndex ? 'active' :'',item.icon]" v-html="item.title"></li>
                </ul>
                <tableChart v-show="nowIndex===0" ref="tableChart" @move="dragTr" @deleItem="deleteAggitem"></tableChart>
                <barChart v-show="nowIndex===1" ref="barChart" @move="dragTr" @deleItem="deleteAggitem"></barChart>
                <lineChart v-show="nowIndex===2" ref="lineChart" @move="dragTr" @deleItem="deleteAggitem"></lineChart>
                <pieChart v-show="nowIndex===3" ref="pieChart" @move="dragTr" @deleItem="deleteAggitem"></pieChart>
            </div>
        </div>
        <div class="ui-layout-south">
            <div id="step3"></div>
            <div class="bottom">
                <div class="bottom_header">
                    <span class="step-number">3</span>
                    <div class="step-desc">
                        <span class="step-title">保存</span>
                        <span>（保存视图）</span>
                    </div>
                </div>
                <div class="save_view">
                    <div class="saveView">
                        视图名称：
                        <input v-model="customViewportDataSet.name" name="viewName" v-validate="'required'"
                               :class="{'input': true, 'is-danger': errors.has('viewName') }" type="text"
                               placeholder="请输入视图名称">
                        <span class="notice" v-show="errors.has('viewName')">
                            	<i class="fa fa-warning"></i>
                            	<span class="help is-danger">视图名称为空.</span>
                        </span>
                    </div>
                    <div class="timeZone">
                        <input type="checkbox" name=""/><span>时间区间</span>
                    </div>
                    <div class="button-group">
                        <button class="btn-normal preview" @click.stop.prevent="preview"><span>预览</span></button>
                        <button class="btn-normal save">保存</button>
                        <button class="btn-normal delete"><span>删除</span></button>
                        <button class="btn-normal cancel"><span>取消</span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
