<div class="realTime portfolio">
    <!--组合表格-->
    <div class="portfolio_table">
        <ul class="comsearch_ul portsearch">
            <li v-for="(item,index) in portlist" :s-code="item.code" :s-name="item.name" @click="portliClick($event)">
                {{item.name}}
            </li>
        </ul>
        <div class="fix-table" row="2"
             style="position:absolute;width: calc(100% - 5px);height: calc(100% - 17px);">
            <div class="fix-table-panel">
                <table class="table-common">
                    <tr>
                        <th colspan="11" class="left">
                            <div class="com_btns">
                                <button type="button" class="btn btn-primary break-but margin_l_r_3 createbtn"
                                        data-toggle="modal" data-target=".new_com" @click="createComClick()">组合创建
                                </button>
                                <button type="button" class="btn btn-primary break-but comtradebtn" disabled="true"
                                        data-toggle="modal"
                                        data-target=".com_trade_w" @click="comtradeClick()">组合交易
                                </button>
                                <button type="button" class="btn btn-primary break-but margin_l_r_3 comcostbtn"
                                        disabled="true"
                                        data-toggle="modal" data-target=".com_cost_w" @click="comcostClick()">组合资金
                                </button>
                                <button type="button" class="btn btn-primary break-but transbtn" data-toggle="modal"
                                        disabled="true"
                                        data-target=".transaction" @click="transClick()">交易费率
                                </button>
                                <button type="button" class="btn btn-primary break-but margin_l_r_3 amendbtn"
                                        disabled="true"
                                        data-toggle="modal" data-target=".new_com" @click="amendClick()">修改
                                </button>
                                <button type="button" class="btn btn-primary break-but combindelbtn" data-toggle="modal"
                                        data-target=".combindel" disabled="true">删除
                                </button>
                                <button type="button" class="btn btn-primary break-but margin_l_r_3 portcheckbtn"
                                        disabled="true"
                                        @click="portcheckClick()">核算
                                </button>
                                <input type="text" value="" placeholder="点击搜索组合名称" v-on:input="portKeyup($event)"
                                       @keydown="portkeyDown($event)" class="portval" @blur="portBlur($event)"/>
                                <!--帮助问号-->
                                <i class="fa fa-question-circle-o newhelp" title="新用户帮助" data-toggle="modal"
                                   data-target=".newIntro"></i>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="check_w">
                                <input type="checkbox" v-model="portAllChecked" class="check"
                                       style="display:inline-block;" id="combincheck"/>
                                <label for="combincheck" class="combinlabel">全选</label>
                            </div>
                        </th>
                        <th style="position:relative;">组合名称
                            <i class="fa fa-caret-down combin_name sort_icon" prop="combin_name" aria-hidden="true"
                               @click="sortBtnClick($event)"></i>
                        </th>
                        <th style="position:relative;">成立日期
                            <i class="fa fa-caret-down combin_date sort_icon" prop="combin_date" aria-hidden="true"
                               @click="sortBtnClick($event)"></i>
                        </th>
                        <th style="position:relative;">初始资金(万)
                            <i class="fa fa-caret-down combin_money sort_icon" prop="combin_money" aria-hidden="true"
                               @click="sortBtnClick($event)"></i>
                        </th>
                        <th style="position:relative;">初始单位净值
                            <i class="fa fa-caret-down combin_share sort_icon" prop="combin_share" aria-hidden="true"
                               @click="sortBtnClick($event)" style="right:0px;"></i>
                        </th>
                        <th>币种</th>
                        <th style="position:relative;">核算状态
                            <i class="fa fa-caret-down combin_checks sort_icon" prop="combin_checks" aria-hidden="true"
                               @click="sortBtnClick($event)"></i>
                        </th>
                        <th style="position:relative;">核算时间
                            <i class="fa fa-caret-down combin_checkt sort_icon" prop="combin_checkt" aria-hidden="true"
                               @click="sortBtnClick($event)"></i>
                        </th>
                        <th style="position:relative;">日终核算
                            <i class="fa fa-caret-down combin_succ sort_icon" prop="combin_succ" aria-hidden="true"
                               @click="sortBtnClick($event)"></i>
                        </th>
                        <th style="position:relative;">更新时间
                            <i class="fa fa-caret-down combin_time sort_icon" prop="combin_time" aria-hidden="true"
                               @click="sortBtnClick($event)"></i>
                        </th>
                        <th style="position:relative;">创建人
                        </th>
                    </tr>
                    <tr v-for="(item, index) in basicInfo" :itemId="item.id" class="data_row basicTr"
                        :portId="item.port_id"
                        :portFlag="item.portflag" :class="{'tr_color': item.all}">
                        <td class="center">
                            <input class="check" type="checkbox" v-model="item.all" @click="combincheckClick($event)"
                                   style="display:inline-block;"/>
                        </td>
                        <td class="center" :title="item.name">{{item.name}}</td>
                        <td class="center" :title="item.date">{{item.date}}</td>
                        <td class="center" :title="item.money">{{item.money}}</td>
                        <td class="center" :title="item.share">{{item.share}}</td>
                        <td class="center" :title="item.currency">{{item.currency}}</td>
                        <td class="center checkstate">
                            <span v-show="item.check_flag === '0'">待核算</span>
                            <b v-show="item.check_flag === '1'" class="fa-loading"></b>
                            <i v-show="item.check_flag === '2'" class="fa fa-check" aria-hidden="true"></i>
                            <i v-show="item.check_flag === '3'" class="fa fa-times"></i>
                        </td>
                        <td class="center" :title="item.check_date">{{item.check_date}}</td>
                        <td class="center">
                            <button type="button"
                                    :class="{'combinfail': item.portflag === '2', 'combinsucc': item.portflag === '1'}"
                                    class="combinzt" @click="combinBtn($event)">{{portStatus[item.portflag]}}
                            </button>
                        </td>
                        <td class="center" :title="item.time">{{item.time}}</td>
                        <td class="center" :title="item.creater">{{item.creater}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--创建组合弹窗-->
    <div class="modal pas-modal new_com" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="new_com_title">
        <div class="modal-dialog " role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;" @click="comCloseClick()">&times;</span>
                    </button>
                    <h4 class="modal-title" id="new_com_title">创建组合</h4>
                </div>
                <div class="modal-body" style="overflow:inherit;">
                    <div class="twoselect">
                        <!-- 输入框填写部分 -->
                        <div class="account">
                            <table>
                                <tbody>
                                <tr>
                                    <td title="">组合名称：</td>
                                    <td>
                                        <input type="text" value="" val-required class="com_name"
                                               @blur="comnameBlur($event)"/>
                                        <span class="requireicon">*</span>
                                        <span class="nameExist">组合名已存在</span>
                                    </td>
                                    <td title="">基准指数：</td>
                                    <td>
                                        <select v-model="namesel[0].value"
                                                class="base_com">
                                            <option v-for="(item, index) in namesel" :key="index" :value="item.value"
                                                    v-html="item.name"></option>
                                        </select>
                                    </td>
                                    <td title="">初始资金：</td>
                                    <td>
                                        <input type="text" val-required value="" class="initial_capital"
                                               @keyup="capitalTest()"
                                               @blur="capitalBlur()"/>万
                                        <span class="requireicon">*</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td title="">单位净值：</td>
                                    <td>
                                        <input type="text" value="" val-required class="initial_share"
                                               @keyup="shareTest()"
                                               @blur="shareBlur()"/>
                                        <span class="requireicon">*</span>
                                    </td>
                                    <td title="">币 种：</td>
                                    <td>
                                        <input type="text" value="人民币" class="com_currency" readonly/>
                                    </td>
                                    <td title="">成立日期：</td>
                                    <td>
                                        <input type="text" val-required value=""
                                               class="date-input initial_date laydate-icon" id="estab_date"
                                               v-model="estabTime" @blur="initialBlur()"/>
                                        <span class="requireicon">*</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td title="">管理费率：</td>
                                    <td>
                                        <input type="text" val-required value="" class="com_management"
                                               @keyup="commanageTest()"
                                               @blur="commanageBlur()"/>%
                                        <span class="requireicon">*</span>
                                    </td>
                                    <td title="">托管费率：</td>
                                    <td>
                                        <input type="text" val-required value="" class="com_custody"
                                               @keyup="comcustodyTest()"
                                               @blur="comcustodyBlur()"/>%
                                        <span class="requireicon">*</span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td title="">组合说明：</td>
                                    <td colspan="5">
                                        <textarea class="area"></textarea>
                                        <span class="requireinp" data-is="off">以上带*均为必填项,请填充完整。</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 持仓检索 -->
                    <ul class="comsearch_ul newcomsearch">
                        <li v-for="(item, index) in positionlist" :key="index" :s-code="item.code"
                            :s-name="item.name" :s-type="item.type" @click="newcomliClick($event)">
                            {{item.code}}({{item.name}})
                        </li>
                    </ul>
                    <!--初始持仓表格部分-->
                    <div class="fix-table new_com_t" fix-table row="2" style="height: auto;">
                        <div class="fix-table-panel">
                            <table class="table-common lay">
                                <thead>
                                <tr style="height: 32px;">
                                    <th colspan="1">初始持仓</th>
                                    <th colspan="8" class="left">
                                        <div class="new_com_btns">
                                            <button type="button" class="btn btn-primary break-but"
                                                    @click="newcomAdd()">新增
                                            </button>
                                            <button type="button"
                                                    class="btn btn-primary break-but margin_l_r_3 newcomdelbtn"
                                                    data-toggle="modal" data-target=".newcomdel" disabled="">删除
                                            </button>
                                            <button type="button" class="btn btn-primary break-but"
                                                    @click="newcomExc()">Excel导入
                                            </button>
                                            <span class="posititle"></span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="check_w">
                                            <input class="check" type="checkbox" v-model="beginHoldAllChecked"
                                                   style="display:inline-block;" id="newcomcheck"/>
                                            <label for="newcomcheck" class="newcomlabel">全选</label>
                                        </div>
                                    </th>
                                    <th>证券代码</th>
                                    <th>证券名称</th>
                                    <th>交易市场</th>
                                    <th>多空方向</th>
                                    <th>持仓数量(手)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="position-row"
                                    v-if="item!='empty' && item!=null && item!='' && item!=undefined"
                                    v-for="(item, index) in entryInfo" :key="index" :itemId="item.id">
                                    <td class="center">
                                        <input class="check" type="checkbox" v-model="item.all" style="display:inline-block;"/>
                                    </td>
                                    <td class="center" @click="codeClick($event)">
                                        <span class="com_code_s" val-required>{{item.stock_code}}</span>
                                        <input class="com_code" type="text" value="" @blur="codeBlur($event)"
                                               itemName="stock_code" @keyup="newcomKeyup($event)"
                                               @keydown="newcomkeyDown($event)"/>
                                    </td>
                                    <td class="center disable_color">
                                        <span class="com_name_s" val-required>{{item.stock_name}}</span>
                                    </td>
                                    <td class="center disable_color">
                                        <span class="com_market_s" val-required>{{item.market}}</span>
                                    </td>
                                    <td class="center" @click="signClick($event)">
                                        <span class="com_sign_s" val-required>{{item.sign}}</span>
                                        <select class="com_sign" v-model="item.sign"
                                                @blur="signBlur($event, item)" itemName="sign">
                                            <option v-for="option in comSigns" :value="option.name">{{option.name}}
                                            </option>
                                        </select>
                                    </td>
                                    <td class="center" @click="quantityClick($event)">
                                        <span class="com_quantity_s" val-required>{{item.quantity}}</span>
                                        <input class="com_quantity" type="text" value="" @blur="quantityBlur($event)"
                                               itemName="quantity" @keyup="comquantityUp()"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="comCancelClick()">取消
                    </button>
                    <button type="button" class="btn btn-primary" @click="comConfirmClick()">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 创建组合弹窗结束 -->
    <!-- 组合交易弹窗 -->
    <div class="modal pas-modal com_trade_w" tabindex="-1" role="dialog" aria-labelledby="com_trade_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-lg" role="document" v-modal-drag style="width:1120px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="com_trade_title">组合交易</h4>
                </div>
                <div class="modal-body" style="overflow:inherit;">
                    <!-- 组合交易检索 -->
                    <ul class="comsearch_ul comtradesearch">
                        <li v-for="item in tradelist" :s-code="item.code" :s-name="item.name"
                            :s-type="item.type" :s-amount="item.amount" @click="tradeliClick($event)">
                            {{item.code}}({{item.name}})
                        </li>
                    </ul>
                    <div class="row">
                        <div class="row_left fl">
                            <div class="allo_date">
                                <div class="fix-table" style="width: 100%" fix-table row="1">
                                    <div class="fix-table-panel">
                                        <table class="table-common">
                                            <tr>
                                                <th class="left">调仓日期
                                                    <input type="text" class="date-input trade_date laydate-icon"
                                                           id="adjust-date"
                                                           v-model="estabTime"/>
                                                </th>
                                            </tr>
                                            <tr v-for="(item, index) in tradedateInfo" :key="index"
                                                :itemId="item.id" class="tr_special">
                                                <td class="center" @click="tradedateClick($event)" :class="{'td_color': item.date == comInfo.date}"
                                                    style='cursor:pointer;'>{{item.date}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row_right fl">
                            <div class="fix-table com_wrap" fix-table row="2">
                                <div class="fix-table-panel">
                                    <table class="table-common">
                                        <tr>
                                            <th colspan="9" class="left">
                                                <div class="combin_btns">
                                                    <button type="button" class="btn btn-primary break-but margin_l_r_3"
                                                            @click="comtradeAdd()">新增
                                                    </button>
                                                    <button type="button" class="btn btn-primary break-but comtradelbtn"
                                                            data-toggle="modal" data-target=".comtradedel" disabled="">
                                                        删除
                                                    </button>
                                                    <button type="button" class="btn btn-primary break-but margin_l_r_3"
                                                            @click="comtradeExc()">Excel导入交易
                                                    </button>
                                                    <button type="button" class="btn btn-primary break-but"
                                                            @click="comtradeExp()" style="padding:0;">
                                                        <a href="javascript:;" class="comtradexport">导出</a>
                                                    </button>
                                                    <span class="tradetitle"></span>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="check_w">
                                                    <input class="check" type="checkbox" v-model="tradeAllChecked"
                                                           style="display:inline-block;" id="comtradecheck"/>
                                                    <label for="comtradecheck" class="newcomlabel">全选</label>
                                                </div>
                                            </th>
                                            <th>证券代码</th>
                                            <th>证券名称</th>
                                            <th>交易市场</th>
                                            <th>交易类型</th>
                                            <th>成交均价</th>
                                            <th>成交量(手)</th>
                                            <th>成交金额</th>
                                            <th>费用</th>
                                        </tr>
                                        <tr v-for="(item, index) in tradeInfo" :key="index" :itemId="item.id">
                                            <td class="center">
                                                <input type="checkbox" v-model="item.all" style="display:inline-block;"/>
                                            </td>
                                            <td class="center" @click="tradecodeClick($event)">
                                                <span class="trade_code_s" val-required>{{item.stock_code}}</span>
                                                <input class="trade_code" type="text" value=""
                                                       @blur="tradecodeBlur($event)" itemName="stock_code"
                                                       @keyup="comtradeKeyup($event)"
                                                       @keydown="comtradekeyDown($event)"/>
                                            </td>
                                            <td class="center disable_color">
                                                <span class="trade_name_s" :title="item.stock_name" val-required>{{item.stock_name}}</span>
                                            </td>
                                            <td class="center disable_color">
                                                <span class="trade_market_s" val-required>{{item.market}}</span>
                                            </td>
                                            <td class="center" @click="tradesignClick($event)"
                                                style="padding:5px 6px;">
                                                <span class="trade_sign_s" val-required>{{item.sign}}</span>
                                                <select class="trade_sign" v-model="item.sign"
                                                        @blur="tradesignBlur($event)" itemName="sign">
                                                    <option v-for="option in comsignInfo" :value="option.name">
                                                        {{option.name}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td class="center" @click="tradepriceClick($event)">
                                                <span class="trade_price_s" val-required>{{item.price}}</span>
                                                <input class="trade_price" type="text" value=""
                                                       @blur="tradepriceBlur($event)" @keyup="tradepriceUp($event)"
                                                       itemName="price"/>
                                            </td>
                                            <td class="center quantityTd" @click="tradequanClick($event)">
                                                <span class="trade_quantity_s" val-required>{{item.quantity}}</span>
                                                <input class="trade_quantity" type="text" value=""
                                                       @blur="tradequanBlur($event)" itemName="quantity"
                                                       @keyup="tradequantityUp($event)"/>
                                            </td>
                                            <td class="center disable_color">
                                                <span class="trade_money_s" val-required>{{item.money}}</span>
                                            </td>
                                            <td class="center" @click="tradecostClick($event)">
                                                <span class="trade_cost_s" val-required>{{item.cost}}</span>
                                                <input class="trade_cost" type="text" value=""
                                                       @blur="tradecostBlur($event)" itemName="cost"
                                                       @keyup="tradecostUp($event)"/>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" @click="comtradeConfirm()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 组合交易弹窗结束 -->
    <!-- 组合资金弹窗 -->
    <div class="modal pas-modal com_cost_w" tabindex="-1" role="dialog" aria-labelledby="com_cost_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog pas-modal" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="com_cost_title">组合资金</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="row_left fl">
                            <div class="allo_date">
                                <div class="fix-table" row="1">
                                    <div class="fix-table-panel">
                                        <table class="table-common">
                                            <tr>
                                                <th class="left">变动日期
                                                    <input type="text"
                                                           class="date-input com_cost_date laydate-icon bind-date"
                                                           id="com_cost_date" v-model="estabTime"/>
                                                </th>
                                            </tr>
                                            <tr v-for="(item, index) in costdateInfo" :key="index"
                                                itemId="item.id" class="change_date">
                                                <td class="center" @click="costdateClick($event)" :class="{'td_color': item.date == comInfo.date}"
                                                    style='cursor:pointer;'>{{item.date}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row_right fl">
                            <div class="fix-table com_cost" row="2">
                                <div class="fix-table-panel">
                                    <table class="table-common">
                                        <tr>
                                            <th colspan="3" class="left">
                                                <div class="combin_btns">
                                                    <button type="button" class="btn btn-primary break-but margin_l_r_3"
                                                            @click="costAdd()">新增
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-primary break-but comcostdelbtn"
                                                            data-toggle="modal" data-target=".comcostdel" disabled="">删除
                                                    </button>
                                                    <button type="button" class="btn btn-primary break-but margin_l_r_3"
                                                            @click="comcostExc()">Excel导入交易
                                                    </button>
                                                    <button type="button" class="btn btn-primary break-but"
                                                            @click="comcostExp()" style="padding:0;">
                                                        <a href="javascript:;" class="comcostexport">导出</a>
                                                    </button>
                                                    <span class="costtitle"></span>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="check_w">
                                                    <input class="check" type="checkbox"
                                                           v-model="allocationAllChecked" style="display:inline-block;"
                                                           id="comcostcheck"/>
                                                    <label for="comcostcheck" class="newcomlabel">全选</label>
                                                </div>
                                            </th>
                                            <th>变动方向</th>
                                            <th>金额</th>
                                        </tr>
                                        <tr v-for="(item, index) in allocationInfo" :key="index" :itemId="item.id">
                                            <td class="center">
                                                <input type="checkbox" ng-checked="all" v-model="item.all"
                                                       style="display:inline-block;"/>
                                            </td>
                                            <td class="center" @click="costdirClick($event)" style="padding:5px 6px;">
                                                <span class="cost_dir_s" val-required>{{item.direction}}</span>
                                                <select class="cost_dir" v-model="item.direction"
                                                        @blur="costdirBlur($event, item)" itemName="direction">
                                                    <option v-for="(option, j) in allodirInfo" :key="j" :value="option.name">
                                                        {{option.name}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td class="center" @click="costmoneyClick($event)">
                                                <span class="cost_money_s" val-required>{{item.cost}}</span>
                                                <input class="cost_money" type="text" value=""
                                                       @blur="costmoneyBlur($event)" itemName="cost"
                                                       @keyup="costmoneyUp($event)"/>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="comcostConfirm()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 组合资金弹窗结束 -->
    <!-- 组合交易交易费率弹窗 -->
    <div class="modal pas-modal transaction" tabindex="-1" role="dialog" aria-labelledby="transaction_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="new_trade_title">交易费率</h4>
                </div>
                <div class="modal-body">
                    <!-- 输入框填写部分 -->
                    <div class="transaction_con">
                        <div class="fix-table com_cost" row="1">
                            <div class="fix-table-panel">
                                <table class="table-common">
                                    <tr>
                                        <th>业务类型</th>
                                        <th>交易市场</th>
                                        <th>费率</th>
                                    </tr>
                                    <tr v-for="(item, index) in transactionInfo" :key="index" :itemId="item.id">
                                        <td class="center">{{item.businessType}}</td>
                                        <td class="center">{{item.exchange}}</td>
                                        <td class="center padding_t_b_3" @click="rateClick($event)">
                                            <span class="trans_rate_s">{{item.rate}}</span>
                                            <input class="trans_rate" type="text" value="" @blur="rateBlur($event)"
                                                   @keyup="rateUp($event)" itemName="rate"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="transConfirm()">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 组合交易交易费率弹窗结束 -->
    <!-- 初始持仓导入弹窗 -->
    <div class="modal pas-modal positionexcel" tabindex="-1" role="dialog" aria-labelledby="tradexcel_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-sm" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="tradexcel_title">导入持仓</h4>
                </div>
                <div class="modal-body" style="padding: 28px 60px 0;">
                    <!-- 输入框填写部分 -->
                    <div class="import_inp">
                        <table>
                            <tbody>
                            <tr>
                                <td title="" style="line-height:38px;">模板下载：</td>
                                <td><a href="/jax/file/download/template/beginhold.xls">下载</a></td>
                            </tr>
                            <tr>
                                <td title="">组合名称：</td>
                                <td><input type="text" class="import_rows" value="" readonly/></td>
                            </tr>
                            <tr>
                                <td title="">文件：</td>
                                <td style="position:relative;">
                                    <input type="text" class="import_e" style="float:left;"/>
                                    <label for="loadfiles">上传文件</label>
                                    <input type="file" class="import_files" id="loadfiles"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="tradeExcelCancel()">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="tradeExcelConfirm()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 初始持仓导入交易弹窗结束 -->
    <!-- 组合交易导入交易弹窗 -->
    <div class="modal pas-modal comexcel" tabindex="-1" role="dialog" aria-labelledby="comexcel_title"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-sm" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" @click="comExcelCancel()"
                            aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="comexcel_title">导入交易</h4>
                </div>
                <div class="modal-body" style="padding: 28px 60px 0;">
                    <!-- 输入框填写部分 -->
                    <div class="import_inp">
                        <table>
                            <tbody>
                            <tr>
                                <td title="">模板下载：</td>
                                <td><a href="/jax/file/download/template/trade.xls">下载</a></td>
                            </tr>
                            <tr>
                                <td title="">组合名称：</td>
                                <td><input type="text" class="import_row" value="" readonly/></td>
                            </tr>
                            <tr>
                                <td title="">文件：</td>
                                <td style="position:relative;">
                                    <input type="text" class="import_v" style="float:left;"/>
                                    <label for="loadfile">上传文件</label>
                                    <input type="file" class="import_file" id="loadfile"/>
                                </td>
                            </tr>
                            <tr>
                                <td title="">模板名称：</td>
                                <td style="position:relative;">
                                    <select class="mp_list" name="template_name" @click="loadMpList"
                                            v-model="mpSelected">
                                        <option value="-1">不使用模板</option>
                                        <option v-for="(mp, index) in mpList" :key="index" :value="mp.mp_id">
                                            {{mp.mp_name}}
                                        </option>
                                    </select>
                                    <button type="button" data-toggle="modal" data-target=".template" class="tem_btn">
                                        模板管理
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="file_imp_progress_bar" class="progress">
                        <div class="progress-bar" role="progressbar" :aria-valuenow="progressVal" aria-valuemin="0"
                             aria-valuemax="100" v-bind:style="{width: progressVal + '%', 'min-width': '25px'}">
                            {{progressVal + '%'}}
                        </div>
                    </div>
                    导入结果：<span class="trade_fileimp_result"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="comExcelCancel()">取消
                    </button>
                    <button type="button" class="btn btn-primary" @click="comExcelConfirm()">导入
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 组合交易导入交易弹窗结束 -->
    <!-- 组合资金导入交易弹窗 -->
    <div class="modal pas-modal costxcel" tabindex="-1" role="dialog" aria-labelledby="costxcel_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-sm" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="costxcel_title">导入交易</h4>
                </div>
                <div class="modal-body" style="padding: 28px 60px 0;">
                    <!-- 输入框填写部分 -->
                    <div class="import_inp">
                        <table>
                            <tbody>
                            <tr>
                                <td title="">模板下载：</td>
                                <td><a href="/jax/file/download/template/asset.xls">下载</a></td>
                            </tr>
                            <tr>
                                <td title="">组合名称：</td>
                                <td><input type="text" class="import_row_c" value="" readonly/></td>
                            </tr>
                            <tr>
                                <td title="">文件：</td>
                                <td style="position:relative;">
                                    <input type="text" class="import_v_c" style="float:left;"/>
                                    <label for="loadfile_c">上传文件</label>
                                    <input type="file" class="import_file_c" id="loadfile_c"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="costExcelCancel()">取消
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="costExcelConfirm()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 组合资金导入交易弹窗结束 -->
    <!-- 组合资金删除弹窗 -->
    <div class="modal comcostdel" tabindex="-1" role="dialog" aria-labelledby="comcostdel_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="comcostdel_title">提示</h4>
                </div>
                <div class="modal-body">
                    确定删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="comcostdelCancel()">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="comcostdelConfirm()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 组合资金删除弹窗结束 -->
    <!-- 组合交易删除弹窗 -->
    <div class="modal comtradedel" tabindex="-1" role="dialog" aria-labelledby="comtradedel_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="comtradedel_title">提示</h4>
                </div>
                <div class="modal-body">
                    确定删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="comtradedelCancel()">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="comtradedelConfirm()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 组合交易删除弹窗结束 -->
    <!-- 组合表格删除弹窗 -->
    <div class="modal combindel" tabindex="-1" role="dialog" aria-labelledby="combindel_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="combindel_title">提示</h4>
                </div>
                <div class="modal-body">
                    确定删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="combindelConfirm()">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 组合表格删除弹窗结束 -->
    <!-- 初始持仓表格删除弹窗 -->
    <div class="modal newcomdel" tabindex="-1" role="dialog" aria-labelledby="newcomdel_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="newcomdel_title">提示</h4>
                </div>
                <div class="modal-body">
                    确定删除吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" @click="newcomdelCancel()">取消
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="newcomdelConfirm()">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- 初始持仓表格删除弹窗结束 -->
    <!-- 表格新增行未填完提示弹窗 -->
    <div class="modal nofinish" tabindex="-1" role="dialog" aria-labelledby="nofinish_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="nofinish_title">提示</h4>
                </div>
                <div class="modal-body">
                    新增行还有未填写项！！！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 表格新增行未填完提示弹窗结束 -->
    <!-- 表格新增行未填完提示弹窗 -->
    <div class="modal nodate" tabindex="-1" role="dialog" aria-labelledby="nodate_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="nodate_title">提示</h4>
                </div>
                <div class="modal-body">
                    请先选择日期！！！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 交易流水导入文件类型提示弹窗 -->
    <div class="modal type_error" tabindex="-1" role="dialog" aria-labelledby="type_error_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="type_error_title">提示</h4>
                </div>
                <div class="modal-body">
                    文件类型不支持！
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--新手帮助介绍弹窗-->
    <div id="newIntro" class="modal pas-modal newIntro" tabindex="-1" role="dialog" aria-labelledby="newcomdel_title" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">模拟组合操作帮助</h4>
                </div>
                <div class="modal-body">
                    <img src="../../../static/images/mnzh.gif">
                </div>

            </div>
        </div>
    </div>
    <!-- 交易流水导入文件类型提示弹窗 -->
    <!-- 表格新增行未填完提示弹窗结束 -->
    <!--模板管理弹窗组件-->
    <template-manager :portfolio="comInfo"></template-manager>
</div>