<div class="realTime loss">
    <!--日期切换-->
    <ul class="change-time profChangeTime">
        <li value="1" class="sel" @click="changeTime($event)">近一周</li>
        <li value="2" @click="changeTime($event)">近一个月</li>
        <li value="3" @click="changeTime($event)">近一个季度</li>
        <li value="4" @click="changeTime($event)">近半年</li>
        <li value="6" @click="changeTime($event)">今年</li>
    </ul>
    <!--首行文字-->
    <div class="top-notice">
        <span>{{profInfo.name}}</span>的累计收益金额达到
        <span v-bind:class="profInfo['Range PnL'] | priceColor">{{profInfo['Range PnL']}}</span>
        元，盈利最多的股票为
        <span class="blue-font" style="position:relative;cursor: pointer;"
              @click="addVisit($event)" :securityid="profitTopFive[0].securityId">{{profitTopFive[0].name}}</span>，亏损最多的股票为
        <span class="blue-font" style="position:relative;cursor:pointer;"
              @click="addVisit($event)"
              :securityid="lossTopFive[0].securityId">{{lossTopFive[0].name}}</span>。
    </div>
    <!--图表-->
    <div class="row">
        <!--组合收益-->
        <div class="col-md-6 panel-left">
            <div class="panel panel-default" v-loading="loading1">
                <div class="panel-heading">
                    <div class="panel-title">组合收益</div>
                </div>
                <div class="panel-body profitChart" style="padding:10px 12px 12px!important;">
                    <div id="profitAndLoss_gaugeChart" v-echarts config="echartConfig1"
                         style="width: 100%;height: 209px;"></div>
                    <div style="text-align:center;">
                        <span><span>{{combinProfit.times}}</span>组合收益{{combinProfit['Total Unit Nav Yield']}}，跑赢{{combinProfit['Total Yield Rank']}}的组合</span>
                    </div>
                </div>
            </div>
        </div>
        <!--风险调整收益分析-->
        <div class="col-md-6 panel-right" style="height: 275px;" >
            <div class="risk_table" style="height: calc(100% - 25px);" v-loading="loading2">
                <table class="table-common" tabId="risk-table">
                    <tr>
                        <th colspan="2" class="left">风险调整收益分析</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td class="center">Alpha</td>
                            <td class="red-font right" :cell="riskAdjusted['Alpha'] | objToJSONString">{{riskAdjusted['Alpha'].value}}
                                (前{{riskAdjustedRadio['Alpha Rank']}})
                            </td>
                        </tr>
                        <tr>
                            <td class="center">Treynor</td>
                            <td class="blue-font right" :cell="riskAdjusted['Treynor'] | objToJSONString">{{riskAdjusted['Treynor'].value}}
                                (前{{riskAdjustedRadio['Treynor Rank']}})
                            </td>
                        </tr>
                        <tr>
                            <td class="center">RAROC</td>
                            <td class="blue-font right" :cell="riskAdjusted['RAROC'] | objToJSONString">{{riskAdjusted['RAROC'].value}}
                                (前{{riskAdjustedRadio['RAROC Rank']}})
                            </td>
                        </tr>
                        <tr>
                            <td class="center">Sharp</td>
                            <td class="green-font right" :cell="riskAdjusted['Sharp'] | objToJSONString">{{riskAdjusted['Sharp'].value}}
                                (前{{riskAdjustedRadio['Sharp Rank']}})
                            </td>
                        </tr>
                        <tr>
                            <td class="center">IR</td>
                            <td class="green-font right" :cell="riskAdjusted['IR'] | objToJSONString">{{riskAdjusted['IR'].value}}
                                (前{{riskAdjustedRadio['IR Rank']}})
                            </td>
                        </tr>
                    </tbody>               
                </table>
                <div style="height: 118px; border: 1px solid #DDD; border-top: 0;background: #fff;"></div>
            </div>

        </div>
    </div>
    <!--收益走势-->
    <div class="panel panel-default" v-loading="loading3">
        <div class="panel-heading">
            <div class="panel-title">收益走势</div>
        </div>
        <div class="panel-body">
            <div id="profitAndLoss_trendChart" v-echarts config="echartConfig2" style="width: 100%;height: 260px;"></div>
        </div>
    </div>
    <!--前五大盈亏表格-->
    <div class="breakdown">
        <button type="button" class="btn btn-primary break-but" data-toggle="modal" data-target=".profitdrag">明细
        </button>
        <div class="row">
            <table class="table-common">
                <thead>
                <tr>
                    <th colspan="10" class="left" style="padding-left: 12px;">前五大盈亏</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <!--盈利前五-->
            <div class="col-md-6 panel-left profit-top-five">
                <table class="table-common" tabId="profit-table" v-loading="loading4">
                    <thead>
                    <tr>
                        <th colspan="4">盈利前五</th>
                    </tr>
                    <tr>
                        <th>证券名称</th>
                        <th>持仓市值</th>
                        <th>仓位</th>
                        <th>盈利金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in profitTopFive" :key="index">
                        <td class="center">
                            <span class="cl_fre_name" style="position:relative;"
                                  @click="addVisit($event)" :securityid="item.securityId">
                                {{item.name}}
                            </span>
                        </td>
                        <td class="right" :cell="item['Market Value'] | objToJSONString">{{item['Market Value'].value}}</td>
                        <td class="right" :cell="item['Weight'] | objToJSONString">{{item['Weight'].value}}</td>
                        <td class="right center" :cell="item['Range PnL'] | objToJSONString"
                            v-bind:class="item['Range PnL'].value | priceColor">
                            {{item['Range PnL'].value}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--亏损前五-->
            <div class="col-md-6 loss-top-five">
                <table class="table-common" tabId="loss-table" v-loading="loading5">
                    <thead>
                    <tr>
                        <th colspan="4">亏损前五</th>
                    </tr>
                    <tr>
                        <th>证券名称</th>
                        <th>持仓市值</th>
                        <th>仓位</th>
                        <th>盈利金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in lossTopFive" :key="index">
                        <td class="center">
		          	<span class="cl_fre_name" style="position:relative;"
                          @click="addVisit($event)" :securityid="item.securityId">{{item.name}}
		          	</span>
                        </td>
                        <td class="right" :cell="item['Market Value'] | objToJSONString">{{item['Market Value'].value}}</td>
                        <td class="right" :cell="item['Weight'] | objToJSONString">{{item['Weight'].value}}</td>
                        <td class="right center" :cell="item['Range PnL'] | objToJSONString"
                            v-bind:class="item['Range PnL'].value | priceColor">
                            {{item['Range PnL'].value}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 前五大盈亏明细 -->
    <div class="modal fade pas-modal profitdrag" role="dialog" aria-labelledby="profitdrag_title">
        <div class="modal-dialog modal-lg" role="document" v-modal-drag>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
                                                                                                      style="font-size:21px;">&times;</span>
                    </button>
                    <h4 class="modal-title" id="profitdrag_title">盈亏明细</h4>
                </div>
                <div class="modal-body">
                    <div class="twoselect">
                        <ul class="change-time profitRecentime">
                            <li value="1" class="sel" @click="changeYieldDetail($event)">近一周</li>
                            <li value="2" @click="changeYieldDetail($event)">近一个月</li>
                            <li value="3" @click="changeYieldDetail($event)">近一个季度</li>
                            <li value="4" @click="changeYieldDetail($event)">近半年</li>
                            <li value="6" @click="changeYieldDetail($event)">今年</li>
                        </ul>
                    </div>
                    <div class="detail_table modal_detail" style="width: 900px; height: 90%;">
                        <pas-table :data="profitInfo"
                                   :grid="profitInfoGrid"
                                   v-loading="loading6"
                                   dep-id="detail-table"
                                   width="900px"
                                   height="calc(90% - 20px)">
                            <pas-table-column label="证券名称" prop="name" :dep="false" :resizable="false">
                                <template slot-scope="scope">
                                    <span class="cl_fre_name" style="position:relative;" v-html="scope.row.data.name"
                                          @click="addVisit($event)" :securityid="scope.row.data.securityId"
                                          :title="scope.row.data.name | securityNameFilter">
                                    </span>
                                </template>
                            </pas-table-column>
                            <pas-table-column align="right" label="持仓市值" prop="Market Value" :resizable="false"></pas-table-column>
                            <pas-table-column align="right" label="仓位" prop="Weight" :resizable="false"></pas-table-column>
                            <pas-table-column align="right" label="盈利金额" prop="Range PnL" :resizable="false"></pas-table-column>
                        </pas-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>